#Python

pycache/
*.py[cod]
*$py.class
venv/
env/
.env

#Flask

instance/
.webassets-cache

#Database

*.db
*.sqlite3

#Uploads (Keep the folder structure, ignore content)

static/uploads/*
!static/uploads/.gitkeep
data/

#Docker

.coverage
htmlcov/
.pytest_cache/

#IDEs

.vscode/
.idea/

TODO
